<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    {% block seo %}{% endblock %}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body>
    {% include 'NuxiaFrontendBundle::flashbag.html.twig' %}
    <div>{% block nav %}{% endblock nav %}
    </div>
    <div>
        {% block title_tag %}<h1>{% block title_content %}{% endblock %}</h1>{% endblock %}
        {% block content %}{% endblock content %}
    </div>
    {% block javascripts %}{% endblock %}
</body>
</html>
