<div>
    {% for category in categories %}
        {% set label = ('valuelist.' ~ category ~ '.index.link')|trans %}
        <a href="{{ path('valuelist_index', {'category': category} }}" title="{{ label }}">{{ label }}</a>
    {% endfor %}
</div>
